@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --black: #333333;
  --white: #ffffff;
  --light-grey: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1366;
  margin: 0 auto;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: clamp(1rem, 10vw, 1.5rem); /* 1rem = 24px */
}

/* Navbar */
nav {
  height: 96px;
  padding: 0 144px;

  .container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: var(--black);
      font-size: clamp(1rem, 10vw, 1.5rem); /* 1rem = 24px */
    }

    .menu {
      display: flex;

      li {
        margin-left: 56px;
        list-style: none;

        a {
          color: var(--black);
          text-decoration: none;
          font-size: clamp(0.5rem, 10vw, 1rem);
        }
      }
    }
  }

  /* Above or equal to 768px screen width */
  @media screen and (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }

  /* Below 768px screen width */
  @media screen and (max-width: 768px) {
    height: auto;
    padding: 3rem 2rem;

    .container {
      flex-direction: column;
      align-items: start;
      height: auto;

      .menu.show {
        display: flex;
      }

      .menu {
        display: none;
        flex-direction: column;

        li {
          margin-left: 0;
          margin-top: 2rem;
        }
      }
    }
  }
}

/* Header */
header {
  height: 576px;
  padding: 0 144px;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .summary-info {
      padding: 0 48px;

      h1 {
        font-size: clamp(1rem, 10vw, 2.5rem); /* 2.5rem = 40px */
        margin: 16px 0;

        .firstname {
            color: var(--light-grey);
          }
      }

      p {
        font-size: clamp(1rem, 10vw, 1.5rem); /* 1.5rem = 24px */

        .position {
          color: var(--light-grey);
        }
      }

      .resume-bar {
        display: flex;
        margin: 24px 0;

        li {
          margin-right: 40px;
          width: 100%;
          max-width: 192px;
          height: 48px;
          list-style: none;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 24px;
          border: 1px solid;

          a {
            font-size: clamp(0.5rem, 10vw, 1.25rem); /* 1.5rem = 24px */
            text-decoration: none;
            color: var(--black);
          }

          a:hover {
            color: var(--light-grey);
          }
        }
      }
    }

    img {
      max-width: 280px;
      border-radius: 50%;
    }
  }

    /* Below 950px screen width */
    @media screen and (max-width: 950px) {
        height: auto;
        
        .container {

            .resume-bar {       
                flex-direction: column;
                row-gap: 1rem;
            }
        }
    }

    /* Below 768px screen width */
    @media screen and (max-width: 768px) {
        height: auto;
        padding: 0 2rem;

        .container {
            height: auto;
            flex-direction: column;
            row-gap: 0.5rem;

            .summary-info {
                padding: 0;
            }

            .resume-bar {
                flex-direction: column;
                row-gap: 1rem;
                
                li {
                    
                }
            }
        }
    }
}

/* Projects */
.projects {
    height: auto;
    padding: 0 144px;

    .container {
        height: 100%;

        .project-title {
            
            h2 {
                padding: 104px 0;
                text-align: center;
                font-size: clamp(1rem, 10vw, 1.5rem);
            }
        }

        .project-grid {
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));;
            gap: 3rem;
 
            .project-grid-item {
                display: flex;
                align-items: center;
                
                img {
                    max-width: 512px;
                }

                .project-info {
                    padding: 0 72px;

                    h3 {

                    }

                    p {
                        padding: 24px 0;
                    }

                    .tech-stack {
                        display: flex;
                        flex-wrap: wrap;
                        row-gap: 1rem;
                        
                        li {
                            margin-right: 16px;
                            width: 100%;
                            max-width: 72px;
                            height: 36px;
                            list-style: none;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 24px;
                            border: 1px solid;
    
                            a {
                                font-size: clamp(0.5rem, 10vw, 1rem);
                                text-decoration: none;
                                color: var(--black);
                            }
                        }
                    }
                }
            }
        }
    }

    /* Below 768px screen width */
    @media screen and (max-width: 768px) {
        height: auto;
        padding: 0 2rem;

        .container {
            height: auto;

            .project-title {
                h2 {
                    padding: 78px 0;
                }
            }

            .project-grid {
                height: auto;

                .project-grid-item {
                    flex-direction: column;

                    img {
                        width: 75%;
                    }

                    .project-info {
                        h3 {
                            padding-top: 24px; 
                         }
     
                         p {
                             padding: 24px 0;
                         }
                    }
                }
            }
        }
    }
}

/* About */
.about {
    height: 576px;
    padding: 104px 144px;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
        
        }

        p {
            padding: 24px 0;
        }
        
    }
}